#info-header {
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 9vh;
    z-index: 5;
}

.user-info {
    margin: auto;
}

#info-msg {
    font-size: 30px;
}