.card {
    width: 20vw;
    height: 100%;
    border: 1px solid black;
    z-index: 2;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border-radius: 8px;
    background-color: rgb(255, 243, 227, 0.95);
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 10px 15px 11px rgba(33,33,33,.3); 
    z-index: 3;
  }

.card-cols {
    margin-bottom: 10px;
}

.card-img-top {
    width: 100%;
    margin: auto;
    height: 6vw;
    object-fit: cover;
    object-position: 50% 0;
    border: 1px solid black;
    border-radius: 10px;
}

p {
    line-height: 80% !important;
}

em {
    font-size: 12px;
}

strong {
    font-size: 13px;
}