#footer {
    background-color: white;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 8.5vh;
    z-index: 4;
}

.footer-info {
    margin-top: 1.5vh;
}

small {
    line-height: 80% !important;
}